/* styles.css */

/* Aplicar estilos al body para establecer el fondo celeste */
.form {
  background-color: skyblue;
  font-family: Arial, sans-serif;
  color: black;
}

/* Aplicar estilos a los labels */
label {
  display: inline-block;
  width: 50%; /* Ancho de la mitad de la pantalla */
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  margin-bottom: 8px;
}

/* Aplicar estilos al formulario */
form {
  display: flex;
  flex-direction: column;
  max-width: 350px; /* Ajusta según tus necesidades para limitar el ancho del formulario */
  margin: 0 auto; /* Centra el formulario en la pantalla */
}
